[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/opt/optgeo/optgeo
Icon=/usr/share/pixmaps/optgeo-48.png
Terminal=false
Name=OptGeo
GenericName=Simulator for geometrical optics
GenericName[fr_FR]=Simulateur d'optique géométrique
Comment=Interactive tool to study and simulate optic assemblies
Comment[fr_FR]=Outil interactif pour étudier et simuler des montages d'optique
Categories=Education;Science;
